---
import Layout from "@/layouts/Layout.astro"
import Mode from "@/components/sections/Mode.astro"
import Hero from "@/components/sections/Hero.astro"
import Tabla from "@/components/sections/Tabla.astro"
import Footer from "@/components/Footer.astro"

import { basics } from "@table"
const { name, project } = basics

---

<Layout title= {`Sitio Web by ${name} - ${project}`} >
	
	<main>
		<Mode />
		<Hero />
		<Tabla />
		<h2>Hola</h2>
		<h3>hola mundo</h3>
	</main>
	<Footer />

</Layout>

<style>
	main {
    padding: 4rem;
    margin: auto;
    width: 100%;
	background-color: aqua;
  }

  @media (width <= 700px) {
    main {
      padding: 2rem;
    }
  }
	
</style>

